# Archivos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.v8.bin
*.v2
*.cache
*.vsidx

# Archivos de compilación de .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.db

# Archivos temporales
*.log
*.tmp
